@inherits LayoutComponentBase
@using Components.Data

<CascadingValue Value="@pm">
	<div class="page">
		<div class="sidebar rounded-b-3xl">
			<NavMenu />
		</div>

		<main>
			<article class="content px-4">
				@Body
			</article>
		</main>
	</div>
</CascadingValue>

@code {
	public PageManager pm = new PageManager()
		{
			BackPage = "/"
		};
}
