
.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, #000ca6 10%, #040316 100%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/* CSS voor Groupies pagina */

.account-info {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.info-section {
    margin-bottom: 20px;
}

    .info-section label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

.friends-list {
    display: flex;
    align-items: center;
}

.friend-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
}

.add-friend {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.sign-out-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #000;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.delete-account-link {
    display: block;
    margin-top: 10px;
    background: none;
    border: none;
    color: #f44336;
    cursor: pointer;
}

.link-button {
    background: none;
    border: none;
    color: #0000EE;
    cursor: pointer;
    padding: 0;
}

/* Voeg eventueel meer stijlen toe */

