/* CSS voor Groupies pagina */

.account-info {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.info-section {
    margin-bottom: 20px;
}

    .info-section label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

.friends-list {
    display: flex;
    align-items: center;
}

.friend-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
}

.add-friend {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.sign-out-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #000;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.delete-account-link {
    display: block;
    margin-top: 10px;
    background: none;
    border: none;
    color: #f44336;
    cursor: pointer;
}

.link-button {
    background: none;
    border: none;
    color: #0000EE;
    cursor: pointer;
    padding: 0;
}

/* Voeg eventueel meer stijlen toe */

