@page "/boxies"
@using Components.Data
@inject NavigationManager NavigationManager

<h1>Boxies</h1>

@code {
    protected override async Task OnInitializedAsync()
    {
        pm.BackPage = "/groupies";
        pm.ValuesChanged.Invoke();

        await CheckUserState();
    }

    [CascadingParameter]
    public PageManager pm { get; set; }

    [CascadingParameter]
    public User user { get; set; }

    async Task CheckUserState()
    {
        if (user == null)
        {
            await Task.Run(() => NavigationManager.NavigateTo("/login"));
        }
    }
}
