@page "/groupies"
@using Components.Data
@inject NavigationManager NavigationManager

<h1>Groupies</h1>
<a href="/boxies">Open Boxie</a>

@code {
    protected override async Task OnInitializedAsync()
    {
        pm.BackPage = "/";
        pm.ValuesChanged.Invoke();

        await CheckUserState();
    }

    [CascadingParameter]
    public PageManager pm { get; set; }

    [CascadingParameter]
    public User user { get; set; }

    async Task CheckUserState()
    {
        if (user == null)
        {
            await Task.Run(() => NavigationManager.NavigateTo("/login"));
        }
    }
}
