@page "/groupies"
@using Components.Data
@inject NavigationManager NavigationManager

<h1>Groupies</h1>

<div class="group-container">
    @foreach (var group in groups)
    {
        <div class="group-card" id="@($"group{group.Id}")">
            <div class="edit-icon" @onclick="() => EditGroup(group)">✎</div>
            <div class="delete-icon" @onclick="() => DeleteGroup(group)">✖</div>
            <div class="group-title">@group.Name</div>
        </div>
    }
</div>

<button class="add-button" @onclick="AddGroup">+</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        pm.BackPage = "/";
        pm.ValuesChanged.Invoke();

        await CheckUserState();
    }

    [CascadingParameter]
    public PageManager pm { get; set; }

    [CascadingParameter]
    public User user { get; set; }

    async Task CheckUserState()
    {
        if (user == null)
        {
            await Task.Run(() => NavigationManager.NavigateTo("/login"));
        }
    }
}
