@page "/groupies"
@using Components.Data
@inject NavigationManager NavigationManager

<h1>Groupies</h1>

<div class="group-container">
        <div class="group-card">
            <div class="edit-icon" >✎</div>
            <div class="delete-icon">✖</div>
            <div class="group-title"></div>
        </div>
</div>

<button class="add-button">+</button>
@code {
    protected override async Task OnInitializedAsync()
    {
        pm.BackPage = "/";
        pm.ValuesChanged.Invoke();

        await CheckUserState();
    }

    [CascadingParameter]
    public PageManager pm { get; set; }

    [CascadingParameter]
    public User user { get; set; }

    async Task CheckUserState()
    {
        if (user == null)
        {
            await Task.Run(() => NavigationManager.NavigateTo("/login"));
        }
    }
}
