@page "/"
@using Components.Data

<h1>Home</h1>

@code {
    protected override void OnInitialized()
    {
        pm.BackPage = "/";
        pm.ValuesChanged.Invoke();
    }

    [CascadingParameter]
    public PageManager pm { get; set; }
}
