@page "/settings"
@using Components.Data
@inject NavigationManager NavigationManager

<h1>settings</h1>

<select name="one" class="dropdown-select" @onchange="ThemeChanged">
    <option value="">select theme</option>
    <option value="1">light(blue)</option>
    <option value="2">dark(blue)</option>
    <option value="3">light(red)</option>
    <option value="4">dark(red)</option>
    <option value="5">high contrast</option>
</select>

@code {
    protected override async Task OnInitializedAsync()
    {
        pm.BackPage = "/";
        pm.ValuesChanged.Invoke();

        await CheckUserState();
    }

    [CascadingParameter]
    public PageManager pm { get; set; }

    [CascadingParameter]
    public User user { get; set; }

    [CascadingParameter]
    public Color? color { get; set; }

    async Task CheckUserState()
    {
        if (user == null)
        {
            await Task.Run(() => NavigationManager.NavigateTo("/login"));
        }
    }

    private void ThemeChanged(ChangeEventArgs e)
    {
        string selectedTheme = e.Value?.ToString();

        if (selectedTheme == "1")
        {
            color.color = "blue";
        }
        else if (selectedTheme == "2")
        {
            color.color = "darkblue";
        } 
        else if (selectedTheme == "3")
        {
            color.color = "red";
        }
        else if (selectedTheme == "4")
        {
            color.color = "darkred";
        }
        else if (selectedTheme == "5")
        {
            color.color = "highcontrast";
        }
    }

}
